.map {
  /* margin: 2% auto; */
  border: solid 3px gray;
}
.mapdark {
  border: solid white 3px;
}
.maplight {
  border: solid black 3px;
}
.horizontal {
  height: 400px;
  width: 50%;
}
.vertical {
  height: 75vh;
  width: 40%;
  margin-left: 5%;
  margin-top: 1%;
  position: fixed;
}
.square {
  height: 400px;
  width: 400px;
}