.raceSummaryLayout {
  display: grid;
  grid-template-columns: 50% 50%;
}
.raceSummaryTables {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.raceSummaryLocation {
  grid-column: 1;
  padding-left: 5rem;
}