.raceSummaryLayout {
  display: grid;
  grid-template-columns: 2% 38% 58% 2%;
}
.raceSummaryTables {
  grid-column: 3;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.raceSummaryLocation {
  grid-column: 2;
  /* padding-left: 5rem; */
  padding-top: 2.5rem;
}