.raceListLayout {
  margin: 0 2%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.raceListLayout li {
  border: solid black 1px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
}
.raceListLayout li:hover {
  background-color: white;
  color: black;
}