.links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.links a {
  /* margin-right: 2rem; */
  text-decoration: none;
}
.links a:hover {
  text-decoration: underline;
}
.raceName {
  text-decoration: none;
}
.raceName:hover {
  text-decoration: underline;
}

.img {
  width: 10%;
  margin-left: 1rem;
}

.spaceEvenly {
  justify-content: space-evenly;
  width: 50%;
  padding-left: 6vw;
}

.backToSeasonLink {
  /* position: absolute;
  margin-left: -5rem;
  margin-top: -1rem; */
  font-size: medium;
  border-bottom: solid white 1px;
  border-right: solid white 1px;
  padding-right: 5px;
  border-radius: 4px;
}
.backToSeasonLinks {
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: absolute;
}
.backToSeasonLink a {
  text-decoration: none;
}
.backToSeasonLink a:hover {
  text-decoration: underline;
}