.button {
  width: 100%;
  height: 40px;
  border-radius: 0;
}
.buttondark {
  border: solid 1px white;
}
.buttonlight {
  border: solid 1px black;
}

.centeredTable {
  display: flex;
  justify-content: center;
  width: 100%;
}
.centeredTable img {
  height: 20px;
  background-color: white;
  max-width: 85px;
}
/* .centeredTable table {
  min-width: 80%;
} */
.centeredTabledark tbody tr:nth-child(odd){
  background-color: rgb(83, 83, 83);
}
.centeredTablelight tbody tr:nth-child(odd){
  background-color: rgb(197, 197, 197);
}
.centeredTable td {
  padding: .5rem;
  margin: 0;
}
.centeredTabledark td {
  border: solid 1px white;
}
.centeredTablelight td {
  border: solid 1px black;
}

.tableFixHead {
  overflow: auto;
  height: 80vh;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}