.raceCard {
  border-radius: 5px;
  flex: 0 1 21%;
  /* max-width: 25%; */
  padding: 5px;
  text-align: left;
  position: relative;
  margin: 5px;
}
.raceCarddark {
  border: solid 1px white;
}
.raceCardlight {
  border: solid 1px black;
}

.raceCarddark:hover {
  background-color: white;
  color: black;
}
.raceCarddark:hover a {
  color: black;
}
.raceCardlight:hover {
  background-color: black;
  color: white;
}
.raceCardlight:hover a {
  color: white;
}

.raceCardRoundCounter {
  position: absolute;
  top: 0;
  left: 89%;
  font-size: x-large;
  width: 10%;
  height: auto;
  padding: 1px;
  text-align: center;
}
.raceCardRoundCounterdark {
  border-bottom: solid white 1px;
  border-left: solid white 1px;
}
.raceCardRoundCounterlight {
  border-bottom: solid black 1px;
  border-left: solid black 1px;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.raceCardLayout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  width: 100%;
}

.row {
  vertical-align: bottom;
}
.label {
  display: inline-block;
}