.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.floatRight {
  margin-top: 1rem;
  margin-right: 2rem;
  /* display: flex;
  flex-direction: row;
  justify-content: right; */
}