.centeredHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dashboardGridLayout {
  display: grid;
  grid-template-columns: 5% 35% 55% 5%;
  grid-template-rows: auto;
}
.dashboardColumnLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabContainer {
  justify-content: space-evenly;
  margin-bottom: 1rem;
  width: 90%;
  margin-left: 5%;
}
.tabContainerdark {
  border-bottom: solid gray 1px;
}
.tabContainerlight {
  border-bottom: solid rgb(171, 171, 171) 1px;
}
.tab {
  width: 40%;
  text-align: center;
  cursor: pointer;
}
.activeTabdark {
  background-color: gray;
  border-radius: 10px 10px 0px 0px;
}
.activeTablight {
  background-color: rgb(171, 171, 171);
  border-radius: 10px 10px 0px 0px;
}