.centered {
  text-align: center;
  margin: 3px 0 3px 0;
}
.paddedLink a {
  padding-left: 20px;
}
.paddedLinkNarrow a {
  font-size: small;
  padding-left: 10px;
}
.smallglowingF1Text {
  text-shadow: 0 0 5px red/*, 0 0 30px red */;
}
.bigglowingF1Text {
  text-shadow: 0 0 15px red, 0 0 30px red;
}

.darkModeToggleButton {
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: xx-large;
}
.lightModeButton {
  color: white;
}
.darkModeButton {
  color: black
}

.smallWindowWidthWarning {
  color: gold;
  cursor: pointer;
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: xx-large;
}