.centered {
  display: flex;
  justify-content: center;
}

.wrapper {
  /* width: 90%; */
  height: 500px;
  background-color: white;
  margin-top: 2rem;
  position: relative;
  color: black;
}

.object {
  position: absolute;
  width: 20px;
  height: 20px;
}