.centered {
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 2.5% 95% 2.5%;
  grid-template-rows: 2;
}

.replayHeader {
  margin-top: .2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  grid-row: 1;
  grid-column: 2;
}
.outerWrapper {
  height: 525px;
  background-color: white;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  grid-column: 2;
  grid-row: 2;
}
.innerWrapper {
  height: 500px;
  background-color: white;
  position: relative;
  color: black;
}
.sidebar {
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.leftSidebar {
  grid-column: 1;
  grid-row: 2;
}
.rightSidebar {
  grid-column: 3;
  grid-row: 2;
}

.object {
  position: absolute;
  height: 20px;
  z-index: 2;
}

.lapAxis {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 85%; */
  margin-top: 500px;
  position: relative;
  z-index: 1;
}
.positionAxis {
  position: absolute;
  left: 4rem;
  top: 0;
  color: black;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.positionAxisRight {
  left: 98%;
}

.pitStopMarker {
  border-right: solid 5px gold;
}

.driverName {
  /* margin-left: 21px; */
  /* background-color: white; */
  display: flex;
}
.positionLines {
  height: 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  left: 0;
  position: absolute;
  width: 100%;
}