/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)

THIS IS A CSS RESET SO WE DON'T HAVE TO DEAL WITH DUMB CSS STYLES THAT ARE SET AUTOMATICALLY
*/
/* a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}table{border-collapse:collapse;border-spacing:0} */

/* You can add global styles to this file, and also import other style files */

html, body {
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: 'Kdam Thmor Pro', sans-serif;
  overflow-x: hidden;
}

button, .cursor-pointer {
  cursor: pointer;
}
button {
  color: white;
  background-color: black;
  border-radius: 5px;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

.white-bg {
  color: black;
  background-color: white;
}

.race-card-flag.list {
  width: 12%;
  height: auto;
  border: solid gray 1px;
  border-radius: 1px;
  float: right;
}
.race-card-flag.card {
  width: 22%;
  height: auto;
  border: solid gray 1px;
  border-radius: 1px;
  float: right;
  margin-right: 15px;
}

.mapboxgl-popup-content, .mapboxgl-popup-close-button {
  color: black;
  border-radius: 10px;
}

a {
  color: white;
}
.no-underline {
  text-decoration: none;
}
.hover-underline {
  text-decoration: none;
}
.hover-underline:hover {
  text-decoration: underline;
}

.x-large-font {
  font-size: x-large;
}
.xx-large-font {
  font-size: xx-large;
}
.large-font {
  font-size: large;
}
.medium-font {
  font-size: medium;
}
.small-font {
  font-size: small;
}

.app-header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 90vw;
  padding: 0 5vw;
  height: 8vh;
  background-color: black;
  z-index: 5;
  border-bottom: solid white 3px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  left: 0;
  justify-content: center;
}
.page-header {
  overflow: hidden;
  position: fixed;
  top: 8vh;
  width: 88vw;
  height: 6vh;
  background-color: black;
  z-index: 5;
  padding: 0 6vw;
  border-top: solid white 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0vh .3vh .5vh white;
  left: 0;
}
.page-content {
  position: absolute;
  overflow: scroll;
  top: 16vh;
  width: 100vw;
  padding-bottom: 5rem;
}
.page-content.padded {
  margin-left: 5rem;
}

.material-icons-align {
  display: flex;
  align-items: center;
}
.material-icons-align.center {
  justify-content: center;
}


.gold {
  color: gold;
}
.silver {
  color: silver;
}
.bronze {
  color: #CD7F32;
}
.red {
  color: red;
}
.green {
  color: green;
}
.lightRedBg {
  background-color: rgb(239, 112, 112);
  color: black;
  width: fit-content;
}
.lightGreenBg {
  background-color: lightgreen;
  color: black;
  width: fit-content;
}

.recharts-tooltip-wrapper {
  border: solid 3px black;
}
.recharts-tooltip-label {
  color: black;
  font-size: small;
}
.recharts-tooltip-item-list {
  font-size: x-small;
}
.recharts-responsive-container {
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.VictoryContainer {
  background-color: white;
  margin-top: 1rem;
}

.Collapsible__trigger:hover {
  cursor: pointer;
}
.collapseTriggerBorder {
  border: 1px solid gray;
  border-radius: 5px;
}

.displayFlex {
  display: flex;
}
.flexDirRow {
  flex-direction: row;
}
.flexDirCol {
  flex-direction: column;
}
.flexJustContentCenter {
  justify-content: center;
}
.flexAlignItemsCenter {
  align-items: center;
}