.timesContainer {
  margin-bottom: .5rem;
  border-radius: 5px;
  width: 90%;
}
.timesContainerdark {
  border: solid white 2px;
}
.timesContainerlight {
  border: solid black 2px;
}
.header {
  display: flex;
  justify-content: center;
}
.timesContainer:hover {
  cursor: pointer;
}
.opened {
  border-bottom: solid 1px gray;
}
.openeddark {
  color: rgb(255, 150, 150);
}
.openedlight {
  color: rgb(255, 60, 60);
}